$fontFamily: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$bodyBackground: #EFEFEF;
$headerBackground: url(../img/header_background_v2.jpg);
$headerTextColor: #FF5722;
$borderColor: #C1CED8;
$buttonColor: #0401AC;
$mainTextColor: #76767B;
$articteBackground: white;
$postDescriptionColor: #BDBDBD;
$titleColor: #607D8C;
$simpleFontSize: 18px;
$titleFontSize: 26px;


$inputFontFamily: sans-serif;
$activeColor: #FC5830;
$contentBackground: #EFEFEF;
$hrColor: #CFD8DC;
$postListBackground: #fff;
$postListTitle : #617D8A;
$postListPicInfo: #BDBDBD;
$contentColor: #757575;
$formTextColor: #757575;
$footerTextColor: #757575;
