$fontFamily: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$bodyBackground: white;
$headerBackground: url(../img/header_background_v1.jpg);
$headerTextColor: white;
$borderColor: #607D8B;
$buttonColor: #01ACAC;
$mainTextColor: black;
$articteBackground: #EFEFEF;
$postDescriptionColor: #E90A03;
$titleColor: #0097A7;
$simpleFontSize: 15px;
$titleFontSize: 24px;

$inputFontFamily: sans-serif;
$activeColor: #1FBCD3;
$contentBackground: #fff;
$hrColor: #617D8A;
$postListBackground: #EFEFEF;
$postListTitle : #1697A6;
$postListPicInfo: #159587;
$contentColor: #617D8A;
$formTextColor: #757575;
$footerTextColor: #7B898D;
